<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>IFCAT Foundation</title>
    <meta name="description" content="Short overview of the public documents of the IFCAT foundation.">

    <link rel="stylesheet" href="main.css">
    <link rel="canonical" href="https://ifcat.org/">

</head>

<body>

<main class="page-content" aria-label="IFCAT Foundation public documents and resources">
    <img src="IFCAT.svg" alt="logo IFCAT", height="100", style="float:right">
    <div class="wrapper">
        <article class="post">

            <header class="post-header">
                <h1 class="post-title">IFCAT Foundation Public documents</h1>
            </header>

            <div class="post-content">
                <p>
                    The Stichting International Festivals for Creative Application of Technology Foundation (IFCAT)
                    facilitates the organizing of the quadrennial Dutch hacker camps. It has its seat in the Netherlands.
                    Therefore some documents are in Dutch, for legal reasons. 
                </p>

                <h2 id="Objective">Objective (2024-2027)</h2>
                <p>
                    The objective of the IFCAT Foundation for the period 2024-2027 is to strengthen the hacker community by organizing events and initiatives that promote the creative application of technology and knowledge sharing. The foundation aims to foster societal change by creating a platform for innovation, collaboration, and the exchange of ideas. By promoting social justice, privacy, and sustainability, the IFCAT Foundation strives to make a positive impact both locally and internationally.
                </p>

                <h2 id="Policy-Summary">Policy Summary (2024-2027)</h2>
                <p>
                    The main objectives of the IFCAT Foundation for the 2024-2027 period are as follows:
                </p>
                <ul>
                    <li><strong>Mission and Vision:</strong> IFCAT aims to strengthen the hacker community by organizing events and initiatives that promote the creative use of technology and knowledge sharing, with the goal of realizing positive societal changes. The vision is to create an inclusive, diverse, and connected global hacker community that contributes to a better world.</li>
                    <li><strong>Core Values:</strong> The foundation is driven by values such as <em>support, openness, diversity, inclusivity, independence, pragmatism, and collaboration</em>. Collaboration with hackerspaces, educational institutions, non-profits, government bodies, and ethical tech companies is central to its mission.</li>
                    <li><strong>Priorities:</strong> IFCAT's priorities include organizing the quadrennial Dutch hacker event WHY2025, supporting local and European hacker events, fostering the creation and growth of hackerspaces, and supporting projects beneficial to the hacker community.</li>
                    <li><strong>Operations:</strong> IFCAT emphasizes its independence and aims to ensure the continuity of hacker events in the Netherlands. It provides financial and community support to initiatives aligned with its mission.</li>
                    <li><strong>Organization and Governance:</strong> The foundation is led by a volunteer board responsible for operations and finances, and all proceeds are reinvested into the community to support events and growth initiatives.</li>
                    <li><strong>Financial Framework:</strong> IFCAT aims to raise funds to support its activities and related initiatives. The foundation maintains a financial buffer of €50,000 for the startup of the quadrennial events and allocates a maximum of €1,337 per initiative, prioritizing transparency and community benefit.</li>
                </ul>

                <h2 id="Beloningsbeleid-English">Remuneration Policy</h2>
                <p>
                    The board is unpaid and, in principle, does not receive compensation for travel and meeting expenses. Future staff members will receive financial compensation in line with industry standards.
                </p>

                <h1 id="Document">Documents</h1>
                <p>Policy documents:</p>
                <ul>
                    <li><a href="./Beleidsdocumenten/beleidsplan-stichting-ifcat-2024-2027-v1.0.pdf">(NL) Beleidsplan Stichting IFCAT Foundation 2024-2027 (versie 1.0)</a></li>
                    <li><a href="./Beleidsdocumenten/toelichtingsbijlage-voor-beleidsplan-stichting-ifcat-2024-2027.v1.0.pdf">(NL) Toelichtingsbijlage voor beleidsplan (versie 1.0)</a></li>
                    <li><a href="./Beleidsdocumenten/20250303-10013.01-statutenwijziging-stichting-ifcat-foundation-def-afschrift.pdf">(NL) Stichting IFCAT Foundation - Statutenwijziging 2025</a></li>
                </ul>

                <h1 id="Year-reports">Yearly reports</h1>
                <p>Downloads:</p>
                <ul>
                    <li><a href="./Beleidsdocumenten/Stichting-IFCAT-jaarverslag-2023.pdf">(NL) Stichting IFCAT Foundation - Jaarverslag 2023</a></li>
                    <li><a href="./Beleidsdocumenten/stichting-IFCAT-standaardform-pubplicht-anbi-2023.pdf">(NL) Jaarcijfers 2023 (standaard formulier ANBI) </a></li>
                </ul>
            </div>

        </article>

    </div>
</main>

<footer class="site-footer">

    <div class="wrapper">

        <h2 class="footer-heading">IFCAT Foundation</h2>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li><a href="mailto:info@ifcat.org">info@ifcat.org</a></li>
                </ul>
                <ul class="contact-list">
                    <li><a href="index.html">Main page</a></li>
                </ul>
            </div>

            <div class="footer-col footer-col-2">
                <ul class="social-media-list">

                    <li>
                        <a href="https://chaos.social/@why2025camp"><span class="icon icon--mastodon"><svg
                                viewBox="0 0 16 16" width="16px" height="16px"><path fill="#828282"
                                                                                     d="M15.195,5.352c0-3.347-2.193-4.328-2.193-4.328c-1.104-0.508-3.004-0.721-4.977-0.737H7.977 c-1.973,0.016-3.87,0.229-4.976,0.737c0,0-2.193,0.981-2.193,4.328c0,0.766-0.015,1.683,0.009,2.654c0.08,3.272,0.6,6.499,3.626,7.3 c1.396,0.369,2.594,0.446,3.559,0.394c1.75-0.097,2.732-0.624,2.732-0.624l-0.058-1.27c0,0-1.25,0.395-2.655,0.346 c-1.391-0.047-2.86-0.149-3.085-1.857c-0.021-0.15-0.031-0.312-0.031-0.479c0,0,1.365,0.334,3.096,0.413 c1.059,0.049,2.051-0.062,3.059-0.182c1.934-0.231,3.616-1.422,3.828-2.51C15.224,7.821,15.195,5.352,15.195,5.352z M12.609,9.664 h-1.606V5.73c0-0.83-0.349-1.25-1.047-1.25c-0.772,0-1.158,0.5-1.158,1.486V8.12H7.202V5.966c0-0.987-0.387-1.486-1.158-1.486 c-0.698,0-1.046,0.421-1.046,1.25v3.933H3.391V5.611c0-0.829,0.211-1.487,0.634-1.974c0.437-0.487,1.009-0.736,1.719-0.736 c0.822,0,1.444,0.315,1.855,0.947L8,4.519l0.4-0.67c0.412-0.632,1.033-0.947,1.855-0.947c0.71,0,1.282,0.25,1.72,0.736 c0.423,0.487,0.635,1.145,0.635,1.974V9.664z"/></svg>
</span><span class="username">@why2025camp@chaos.social</span></a>

                    </li>

                    <li>
                        <a href="https://twitter.com/WHY2025Camp"><span class="icon icon--twitter"><svg
                                viewBox="0 0 16 16" width="16px" height="16px"><path fill="#828282"
                                                                                     d="M15.969,3.058c-0.586,0.26-1.217,0.436-1.878,0.515c0.675-0.405,1.194-1.045,1.438-1.809c-0.632,0.375-1.332,0.647-2.076,0.793c-0.596-0.636-1.446-1.033-2.387-1.033c-1.806,0-3.27,1.464-3.27,3.27 c0,0.256,0.029,0.506,0.085,0.745C5.163,5.404,2.753,4.102,1.14,2.124C0.859,2.607,0.698,3.168,0.698,3.767 c0,1.134,0.577,2.135,1.455,2.722C1.616,6.472,1.112,6.325,0.671,6.08c0,0.014,0,0.027,0,0.041c0,1.584,1.127,2.906,2.623,3.206 C3.02,9.402,2.731,9.442,2.433,9.442c-0.211,0-0.416-0.021-0.615-0.059c0.416,1.299,1.624,2.245,3.055,2.271 c-1.119,0.877-2.529,1.4-4.061,1.4c-0.264,0-0.524-0.015-0.78-0.046c1.447,0.928,3.166,1.469,5.013,1.469 c6.015,0,9.304-4.983,9.304-9.304c0-0.142-0.003-0.283-0.009-0.423C14.976,4.29,15.531,3.714,15.969,3.058z"/></svg>
</span><span class="username">WHY2025Camp</span></a>

                    </li>

                    <li>
                        <a href="https://gitlab.com/ifcat"><span class="icon icon--gitlab"><svg
                                viewBox="0 0 16 16" width="16px" height="16px"><path
                                fill="#828282"
                                d="M1.07,6.337L8,15.219L0.405,9.706C0.3,9.63,0.227,9.529,0.186,9.404c-0.041-0.125-0.041-0.25,0-0.372L1.07,6.337z M5.112,6.337h5.775L8,15.219L5.112,6.337z M3.38,0.982l1.732,5.355H1.07l1.732-5.355c0.047-0.134,0.143-0.201,0.289-0.201 S3.333,0.848,3.38,0.982z M14.93,6.337l0.884,2.695c0.041,0.123,0.041,0.247,0,0.372S15.7,9.63,15.595,9.706L8,15.219L14.93,6.337z M14.93,6.337h-4.042l1.733-5.355c0.046-0.134,0.143-0.201,0.288-0.201c0.146,0,0.243,0.067,0.289,0.201L14.93,6.337z"/></svg>
</span><span class="username">Gitlab: IFCAT</span></a>

                    </li>

                </ul>
            </div>

            <div class="footer-col footer-col-3">
                <p>The Stichting International Festivals for Creative Application of Technology Foundation (IFCAT) facilitates the organizing of the quadrennial Dutch hacker camps.
                </p>
            </div>
        </div>

    </div>

</footer>

</body>

</html>